DATABASE=your_mongodb_connection_string
DATABASE_PASSWORD=mongodb_password
STRIPE_WEBHOOK_SECRET=stripe_secret
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=jwt_expiration_time
JWT_COOKIE_EXPIRES_IN=jwt_cookie_expire_time
EMAIL_USERNAME=email_username
EMAIL_PASSWORD=email_password
EMAIL_HOST=email_host
EMAIL_PORT=email_port
EMAIL_FROM=from_email
MAILERSEND_USERNAME=mail_send_username
MAILERSEND_PASSWORD=mailer_send_paasword
STRIPE_SECRET_KEY=stripe_secret_key