doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel="preload" href="https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI9w2_Gwftx9897g.woff2" as="font" type="font/woff2" crossorigin="anonymous")
      link(rel='stylesheet' href='/css/style.css')
      
      title Natours | #{title}
  body(data-alert=`${alert?alert:''}`)
    // HEADER
    include _header

    // CONTENT
    block content 

    // FOOTER
    include _footer
      //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js')
      //- script(src='/js/mapbox.js')
      //- script(src='/js/login.js')
      script(src='https://js.stripe.com/v3/')
      script(src='/js/bundle.js')
   
